.sv-feed-item.00bbinderycontrols,
.sv-feed-item.00abindery {
  display: none;
}



body {
  height: auto;
  width: 80%;
  font-weight: 900;
  text-align: right;
  font-family: monospace;
}

p
{
    font-size: 30pt;
    text-transform: lowercase;
    text-align: center;
    line-height: 15pt;
    color: Tomato;
}

h1
{

  font-size: 270px;
  font-weight: 900;
  text-align: right;
  line-height: 130px;
  color: black;
}

h3
{
  font-size: 50px;
  font-weight: 900;
  text-align: right;
  line-height: 45px;
  color: black;

}

h4
{
  margin-left: 200px;
  font-size: 50px;
  font-weight: 900;
  text-align: left;
  line-height: 45px;
  color: black;
}


h2
{
  margin-right: 325px;
  font-size: 45px;
  font-weight: 900;
  text-align: right;
  line-height: 42px;
  color: black;

}

.sv-feed-item, p {
  display: inline-block;
}
