@font-face {
    font-family: "GT Alpina";
    src: url('_assets/_fonts/GT-Alpina-Regular.otf') format('otf'),
         url('_assets/_fonts/GT-Alpina-Regular.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GT Alpina Italic";
    src: url('_assets/_fonts/GT-Alpina-Regular-Italic.otf') format('otf'),
         url('_assets/_fonts/GT-Alpina-Regular-Italic.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GT America Regular';
    src: url('_assets/_fonts/GT-America-Regular.woff2') format('woff2'),
         url('_assets/_fonts/GT-America-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GT America Mono Regular";
    src: url('_assets/_fonts/GT-America-Mono-Regular.woff2') format('woff2'),
         url('_assets/_fonts/GT-America-Mono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* variables */
:root {
  --bg-color: white;
  --main-color: #7741AF;
  --ff-primary: 'GT Alpina';
  --ff-secondary: 'GT America Regular';
}

/* helpers */
.text-primary {
  font-family: var(--ff-primary);
}

.text-secondary {
  font-family: var(--ff-secondary);
}

.text-centered {
  text-align: center;
  display: block;
}

/* styles */

* {
  font-weight: normal;
}

body {
  height: auto;
  width: 100%;
  font-family: var(--ff-primary);
  color: var(--main-color);
  font-size: 16pt;
  line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--ff-secondary);
  line-height: 1.1;
}

h1.cover {
  font-size: 72pt;
  text-align: center;
  line-height: .9;
}

h2 {
  font-size: 48pt;
  margin-top: 24pt;
}

p {
  margin-bottom: 24pt;
  margin-bottom: 0;
}

p + p {
  /* text-indent: 48pt; */
}

code, pre {
  font-family: 'GT America Mono Regular';
  letter-spacing: -.035em;
  font-size: 90%;
  color: gray;
}

a {
  text-decoration: underline;
  color: var(--main-color);
}

ul, ol {
  padding: 0;
  margin: 0;
}

ul li, ol li {

}

a.button, .button, button {
  border: 1px solid var(--main-color);
  border-radius: 999px;
  padding: 16pt 24pt;
  margin: 16pt 0;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
}

a.button:hover, .button:hover, button:hover {
  text-decoration: none;
  background: var(--main-color);
  color: var(--bg-color);
}

hr {
  height: 1px;
  border: 0;
  outline: none;
  background: var(--main-color);
  margin: 24pt 0;
}

a sup, sup {
  text-decoration: none !important;
}

img {
  margin: 16pt 0;
}
