@font-face {
    src: url('_fonts/InputSans-Regular-Edu.eot'); /* IE < 9 */
    src: url('_fonts/InputSans-Regular-Edu.eot?#') format("embedded-opentype"), /* IE 9 */
         url('_fonts/InputSans-Regular-Edu.woff2') format("woff2"),
         url('_fonts/InputSans-Regular-Edu.woff') format("woff");
    font-family: 'InputSans';
    font-style: normal;
    font-weight: normal;
    }

@import url("https://use.typekit.net/ttk4idn.css");
@import url("https://use.typekit.net/ttk4idn.css");
@import url("https://use.typekit.net/ttk4idn.css");

.sv-feed-item.00bbinderycontrols,
.sv-feed-item.00abindery {
  display: none;
}

* {
  font-weight: normal;
}

body {
  height: auto;
  width: 100%;
  line-height: 1.2;
  font-family: 'InputSans', 'quiroh', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #23fc03;
}

h2 {
  height: auto;
  width: 100%;
  line-height: 1.2;
  font-family: 'InputSans';
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  color: #23fc03;
}

img {
  width: 100%;
  margin-left: 4px;
}

.cover {
  height: 100%;
  width: 100%;
  background-color: red;
}

p, li {
  font-size: 14px;
  font-family: 'InputSans';
  font-style: normal;
  font-weight: 250;
  line-height: 1.2;
  letter-spacing: 1px;
  text-align: left;
}

a {
  font-size: 14px;
  font-family: 'InputSans';
  line-height: 1.2;
  letter-spacing: 1px;
  text-align: left;
  color: grey;
}
