.sv-feed-item.00bbinderycontrols,
.sv-feed-item.00abindery {
  display: none;
}

* {
  font-weight: bold;
}

body {
  line-height: 1.2;
  font-family: Butler-Light;
  color: black;
  font-size: 8pt;
}

h1.cover {
 text-family: FreizeitTrial-Bold;
 text-size: 48pt;
  text-align: left;
  line-height: 41pt;
  color: black;
}

h1 {
  text-family: FreizeitTrial-Bold;
  text-size: 48pt;
   text-align: left;
   line-height: 41pt;
   color: black;
  }

h2 {
  text-family: FreizeitTrial-Bold;
  text-size: 24pt;
   text-align: left;
   line-height: 30pt;
   color: black;
}

p {
  line-height: 9pt;
  font-family: FreizeitTrial-Light;
  color: black;
  font-size: 8pt;
}

.captions {
  font-family: FreizeitTrial-Bold;
  line-height: normal;
  font-size: 6pt;
  color: black;
}

.orange {
  color: orange;
}

.bold {
  font-weight: 800;
}
